.section-error {
	height: 100%;
	margin-top: 5%;

	.error-content {
		background: #fff;
		color: #454545;
		min-height: 415px;
		margin: 0 auto;
		text-align: center;
		padding: 50px;
		position: relative;

		.md-display-1 {
			font-size: 10em;
			line-height: 1;
		}
		
		.sub-title {
			font-size: 3em;
			text-transform: uppercase;
		}
	}
}
