input {
	&[type="text"], &[type="password"], &[type="email"], &[type="number"] {
		outline: none;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
		transition: background-color 5000s ease-in-out 0s;
}

@mixin error-container {
	background: rgba(255, 79, 34, 0.57);
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	color: #FFE0E0;
}

.alert {
	border-radius: 4px;
	font-size: 11px;
	font-weight: 300;
	line-height: 14px;
	margin-bottom: 12px;
	padding: 16px;

	&.alert-danger {
		@include error-container;
	}
}

.mdl-textfield__label, .mdl-textfield__input {
	font-family: $font-family;
	font-weight: 400;
	letter-spacing: 1px;

	&.is-invalid {
		color: #f90;
	}
}

.mdl-textfield--floating-label {
	&.is-focused, &.is-dirty {
		.mdl-textfield__label {
			font-size: 11px;
		}
	}
}

small.mdl-textfield__error {
	font-size: 9.5px;
}

div#application {
	div.auth-view {
		h2, p {
			color: #fff;
		}

		form {
			background: #fff;
			border-radius: 0 0 3px 3px;
			display: block;
			margin: auto;
			padding: 16px;
			width: 280px;

			h2, p {
				color: #555;
			}
		}

		.mdl-button {
			margin-top: 15px;
		}

		.callout {
			margin-bottom: 16px;

			h2 {
				margin: 0 0 6px;
			}
		}

		.signup-links {
			margin: 11px auto;
			width: 312px;

			a {
				color: #fff;
			}
		}

		.auth-button {
			box-sizing: border-box;
			border-radius: 2px;
			margin-top: 12px;
			width: 100%;

			&:not(:disabled) {
				&.primary {
					@include cyan-button;
				}
				&.secondary {
					@include purple-button;
				}
			}
		}

		.error-snack {
			@include error-container;
		}

		#facebook_button {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
			@include facebook-fill;

			.ion-social-facebook:before {
				font-size: 18px;
				line-height: 14px;
				margin-right: 12px;
				display: inline-block;
				vertical-align: text-bottom;
			}
		}
	}
}

.login-view {
	.login-header {
		border-radius: 3px 3px 0 0;
		background: $base-blue;
		min-height: 50px;
		text-align: center;
		padding: 6px 0;

		img {
			height: 50px;
		}
	}
}
