/*
* 2 - Border Radius
* 3 - add your mixins here <name
*/

// 2 - Border Radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin box-shadow($opacity) {
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,$opacity);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,$opacity);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,$opacity);
}