// full background image
.full-image-background {
	background-size: cover;
	background-position: center;
}

.full-width {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

// Clearfix
.clear:before,
.clear:after {
	content: " ";
	display: table;
}

.clear:after {
	clear: both;
}

// margins
.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-right-0 {
	margin-right: 0!important;
}

.margin-left-0 {
	margin-left: 0!important;
}

.full-width {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}



