div#App {
  &.comp-login, &.comp-signup {
    background: url('https://assets.idearobin.com/hotlink-ok/bg-corporate-group-min.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;

    .irx-panel {
      form {
        background: #fff;
        border-radius: 3px;
        display: block;
        margin: auto;
        padding: 16px;
        width: 280px;

        .mdl-button {
          font-family: $font-family;
          font-weight: 400;
          font-size: 11px;
          height: 44px;
          letter-spacing: 1px;
          line-height: 44px;
          min-width: 200px;
        }
      }
      .signup-links {
        margin: 11px auto;
        width: 312px;

        a {
          color: #fff;
        }
      }
    }

    .auth-button {
      border-radius: 2px;
      width: 100%;

      + .auth-button {
        margin-top: 12px;
      }

      &:not(:disabled) {
        @include cyan-button;
      }
    }

    #facebook_button {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
      @include facebook-fill;

      .ion-social-facebook:before {
        font-size: 18px;
        line-height: 14px;
        margin-right: 12px;
        display: inline-block;
        vertical-align: text-bottom;
      }
    }
  }
}