// ******************** START SECTION-INVOICE ********************
.right-align{
  text-align: right !important;
}

.left-align{
  text-align: left !important;
}
.note{
  color: red;
}

.top-margin20{
  margin-top: 20px;
}

.no-padding{
  padding: 0px !important;
}

.no-margin{
  margin: 0px !important;
}

.invoice-value{
  color: #000;
  font-weight: 400;
}

.cta-bottom{
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: right;
}

.btn-margin-right{
  margin-right: 20px;
}
// ******************** END SECTION-INVOICE ********************
