
// ******************** START HEADER ********************

.body-bg{
  background: #e9eaed;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px; font-size: 1rem; line-height: 1;
  font-size: 87.5%;


  .header-bg{
    background: #0e3192;
    min-height: 48px;

    .header-container{
      height: 48px;
      max-width: 1200px;
      padding: 0px;

      .main-header{
        background: none;
        height: 48px;
        padding: 0px;
        margin: 0 auto;
        width: 1200px;
        max-width: 100%;

        .logo{

          img{
            height: 40px;
          }

        }

// ******************** START NAVIGATION ********************

        .nav{
          background: none;
          width: 1030px;

          .mdl-navigation {
            float: right;

            .mdl-navigation__link {
              text-transform: uppercase;
            }

            .icon-profile {
              position: relative;

              .mdl-menu {
                .mdl-menu__item {
                  height: auto;
                  padding: 10px 15px;
                  line-height: normal;
                  
                  .mdl-navigation__link {
                    display: block;
                    padding: 0;
                    line-height: normal;
                    color: #424242;
                  }
                }
              }
            }
          }

          .tab{
            border-bottom: none;
            float: right;

            a{
              color: #fff;
              font-size: 1rem;
              font-weight: 400;
              padding: 0px 18px;
            }

            a:hover{
              background: rgba(255,255,255,0.05);
            }

            .is-active{
              color: #fff;
            }

            .is-active:after{
              background: #ff6600;
            }

            .icon-profile{
              position: relative;
              top: 50%;
              transform: translateY(-50%);
            }

          }

        }

// ******************** END NAVIGATION ********************

      }
    }
  }

// ******************** END HEADER ********************

// ******************** START SECTION-CLIENT-LIST ********************

  .client-list{
    padding: 50px 0px 0px 0px;
    width: 1200px;

    .client-tab{
      background: #0e3192;
      height: 48px;
      padding: 0px;
      width: 1200px;

      a{
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        padding: 0px 18px;



        i{

          &.add{
            padding-left: 6px;
            position: relative;
            top: 40%;
            transform: translateY(-50%);
          }
        }
      }

      a:hover{
        background: rgba(255,255,255,0.05);
      }

      .is-active:after{
        background: #ff6600 !important;
      }

    }

    .filter-search{
      background: #fff;
      height: auto;
      min-height: 130px;
      width: 1200px;

      p{
        font-size: 1rem;
        font-weight: 400;
        padding: 20px 0px 0px 20px;
        margin: 0px;
      }

      form{
        margin-bottom: 0px;
      }

      .filter-search-bar{
        list-style: none;
        padding: 0px 12px 0px 12px;

        .search-cta{
          text-align: right;

          .mdl-button--accent{
            background: #ff6600;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            margin-right: 16px;

          }

          .mdl-button--raised{
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1rem;
            font-weight: 400;
          }

        }

      }

    }

    .table-client-list{
      width:100%;

      thead{

        tr{
          background: #e3ecf5;

          th{
            font-size: 1.142857143rem;
            font-weight: 700;
          }

        }

      }

      tbody{

        tr{

          &.bg-dark{
            background: #f5fafe;

            td{
              border: 0px;
            }

          }

          &.bg-light{
            background: #fbfeff;

            td{
              border: 0px;

            }

          }

          td{

            .btn-view-edit{
              background: #ff6600;
              margin-right: 6px;
            }

            .btn-delete{
              background: #ff4a4a;
            }

          }

        }

      }

    }

    .pagination{
      align-items: center;
      background: #0e3192;
      height: 90px;
      padding: 0px;
      text-align: center;

      .btn-paginate-active{
        background: #fff;
        color: #ff6600;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        margin: 4px;
      }

      .btn-paginate-normal{
        background: #ff6600;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        margin: 4px;
      }

      .btn-paginate-disabled{
        background: #0d2c81;
        cursor: not-allowed;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        margin: 4px;
      }

      .btn-paginate-blue{
        background: #0e3192;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        margin: 4px;
      }

      .btn-paginate-items-per-page{
        background: #ff6600;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        float: right;
        margin-right: 10px;
      }

    }

  }

}

.form-group-flag-icon {
  .mdl-button, .mdl-icon {
    display: inline-block;
    vertical-align: middle;
  }
  .mdl-icon {
    margin: 10px;
    font-size: 24px;
    line-height: normal;
    color: #e0e0e0;
    height: 23px;

    &.mdl-icon-danger {color: #D50000}
    &.mdl-icon-success {color: #228b22}
  }
}

.status-content {

  .status-col {
    display:flex;
    margin-left: 0;
    overflow: auto;
    width: 100%;

    .mg-lf {
      margin-left: 0;
    }
    .float-lft{
      float: left;
      align-self: center;
    }
  }

  .status-btn{
    height: 29px !important;
    line-height: 10px !important;
    min-width: 50px !important;
    margin-left: 10px;
    .icon-con {
      display: inline-table;
      line-height: 0;
      padding-bottom: 3px;
      padding-left: 10px;
      vertical-align: middle;
    }
  }
}

.logout-text{
  color: #777 !important;
  font-size: 11px !important;
  padding: 0 !important;
  text-align: left !important;
}
// ******************** END SECTION-CLIENT-LIST ********************

// ******************** START FOOTER ********************


// ******************** END FOOTER ********************
