// ******************** START SECTION-SUBSCRIPTION-LIST ********************

.header-title-container{
    background: #fff;
    height: 48px;
    padding: 0px;
    width: 1200px;

  .header-title{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 0px;
    padding: 0px 24px;
  }
}

.content-container{
  background-color: #fff;
  width: 1200px;
  padding: 2px;

  .content{
    .mdl-cell--3-col {
      width: calc(25% - 25px);
    }

    .subscription-type{
      @extend .table-list;

      th{
        text-align: center;
      }

      td{
        text-align: center;

        i{

          &.check{
            color: #6abf3c;
          }
        }
      }
    }
  }
}

.arb-demo{

  &.mdl-list{

    padding: 46px 0px 0px 0px;

    .mdl-list__item{
      letter-spacing: 0px;
      padding: 16px;

      .mdl-list__item-primary-content{
        display: block;
        text-align: right;
      }
    }
  }
}

// ******************** END SECTION-SUBSCRIPTION-LIST ********************

// ******************** START FOOTER ********************


// ******************** END FOOTER ********************