// ******************** START SECTION-LOGS ********************

.script-box-container{
  border: 1px solid #e2e2e2;
  min-height: 200px;
  padding: 20px;
}

.content-container {
  .content {
    pre{
      &.script{
        color: #969896;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.142857143rem;
        font-weight: 300;
        line-height: 1.5rem;
        margin-bottom: 10px;
      }
    }
  }
}

// ******************** END SECTION-LOGS ********************