// ******************** START SECTION-SUBSCRIPTION-LIST ********************

.header-title-container{
    background: #fff;
    height: 48px;
    padding: 0px;
    // width: 1200px;

  .header-title{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 0px;
    padding: 0px 24px;
  }
}

.content-container{
  background-color: #fff;
  padding: 2px;

  .bottom-margin{
    margin-bottom: 40px;
  }

  .content{
    padding: 20px;

    .mdl-cell--3-col {
      width: calc(25% - 25px);
    }

    p{
      margin-bottom: 0px;
    }

    .subscription-type{
      @extend .table-list;

      th{
        text-align: center;
      }

      td{
        text-align: center;

        i{

          &.check{
            color: #6abf3c;
          }
        }
      }
    }
  }

  .mdl-data-table {
    th {
      text-align: center;
    }

    td {
      text-align: center;
    }
  }

  .mdl-button {
    padding: 0 9px;
  }
}

.arb-demo{

  &.mdl-list{

    padding: 46px 0px 0px 0px;

    .mdl-list__item{
      letter-spacing: 0px;
      padding: 16px;

      .mdl-list__item-primary-content{
        display: block;
        text-align: right;
      }
    }
  }
}

.box-container{
  border: 1px solid #e2e2e2;
  min-height: 372px;

  .mdl-cell--10-col, .mdl-cell--9-col, .mdl-cell--6-col, .mdl-cell--3-col, .mdl-cell--2-col{
    @extend .mdl-cell--12-col;
  }

  .total{
    border-top: 1px solid #e2e2e2;
    padding:10px 0px 0px 0px;
    width: 100%;
  }
}

.subscription-detail {
  margin: 0;
  width: 100%;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-40 {
  padding-top: 40px;
}

.footer-action {
  padding-right: 16px;
}

// ******************** END SECTION-SUBSCRIPTION-LIST ********************

// ******************** START FOOTER ********************


// ******************** END FOOTER ********************