#application {
  .coffee {
    /*font-family: $font-family;
    font-size: 12px;
    height: 100vh;
    width: 100%;*/

    .vw-login, .vw-signup, .vw-forgot, .vw-resetPassword{
      background: url('https://assets.idearobin.com/hotlink-ok/bg-corporate-group-min.jpg');
      background-image: url('https://s3.amazonaws.com/assets.idearobin.com/arbitrium/bg_orange.jpg');
      background-attachment: fixed;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      min-height: 100vh;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;

      #other-links {
        padding: 16px 0 0;

        a {
          color: #fff;
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        }
      }
    }

    .fixed-middle {
      -webkit-box-flex: 0;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none;
      max-width: 50%;
    }

    .dashboard-container {
      width: 1200px;
      padding: 0px;
      margin-bottom: 40px;

      .mdl-cell--9-col {
        width: calc(75% - 16px);
      }

      .mdl-cell--3-col{
        h6 {
          margin-top: 10px;
        }

        .quick-links-container{
          background: #fff;
          margin: 0px;
          padding: 0px;
          width: 260px;

          .quick-links{
            width: 260px;
            margin: 0px;
            overflow: hidden;

            a {
              border-bottom: 1px solid #e6e6e6;
              font-size: 14px;
              padding: 16px;
              display: inline-block;
              width: 100%;

              i {
                color: #d0d0d0;
                padding-right: 6px;
                vertical-align: middle;
              }
            }

            a:hover {
              background: #f0f5fa;

              i {
                color: #ff6600;
              }
            }
          }
        }
      }
      .dashboard{
        background: #fff;
        margin-top: 56px;

        .date-range{
          margin: 20px;

          h5{
            &.search-title{
              font-size: 1rem;
            }
          }

          form{

          .filter-search{
            padding: 0px;

            .search-cta{
              text-align: right;

                .mdl-button--accent{
                  background: #ff6600;
                  font-family: 'Roboto Condensed', sans-serif;
                  font-size: 1rem;
                  font-weight: 400;
                  margin-right: 16px;

                }

                .mdl-button--raised{
                  font-family: 'Roboto Condensed', sans-serif;
                  font-size: 1rem;
                  font-weight: 400;
                }
              }
            }
          }
        }
        .chart{
          border-top: 1px solid #e6e6e6;

          .percentage{
            color: #0e3192;
            text-align: right;
          }
        }
      }
    }
  }
}
