div#application{
  @media (min-width: 1200px) {
	main {
	  width: auto;
	}
  }
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background: #f9f9f9;
  text-transform: none;
  font-size: 13px;
  color: #777777;

  h4 {
	margin-top: 0;
	margin-bottom: 5px;
  }

  &.bs-callout-info h4 {color: #1b809e;}
  &.bs-callout-danger h4 {color: #ce4844;}
  &.bs-callout-warning h4 {color: #aa6708;}
  &.bs-callout-success h4 {color: #53aa29;}
}
.bs-callout-info {border-left-color: #1b809e;}
.bs-callout-danger {border-left-color: #ce4844;}
.bs-callout-warning {border-left-color: #aa6708;}
.bs-callout-success {border-left-color: #53aa29;}

.bs-callout+.bs-callout {
  margin-top: -5px;
}

.mdl-layout__header-row .mdl-menu__container {
  .mdl-menu__item {
    line-height: normal;
    height: auto;
    padding: 10px 15px;
    
    .mdl-navigation__link {
      padding: 0;
      color: #777;
      line-height: normal;
    }
  }
}

.mdl-layout__content.mdl-layout__content_my_profile .mdl-layout__tab-panel {
  display: none;
  padding: 15px;
  background: #fff;
}

#profile-bgcover {
  background: teal;
  height: 300px;
  margin: 0;
  position: relative;
  width: 100%;
}

.profile__content {
  bottom: 0;
  color: #fff;
  padding: 0 0 20px 20px;
  position: absolute;
  width: 100%;

  .box {
    align-items: center;
  }

  .box-photo {
    margin-right: 30px;

    img {
      @include border-radius(100%);
    }
  }

  .box-details {
    .mdl-typography--headline {
      margin-bottom: 0;
    }
  }
}

.box-right {
  text-align: right;
}

.page-content {
  .client-tab-header {
    height: 48px;
    min-height: 0;
  }
}

.pagination {
  background: #0e3192;
  padding: 20px 0;

  .item-to-show {
    .mdl-button.mdl-button--blue {
      background: #0e3192 !important;
      color: #fff;
    }

    .mdl-button--fab.mdl-button--accent {
      background: #ff6600;
      color: #fff;
    }
    .mdl-button--active,
    .mdl-button.mdl-button--fab.mdl-button--active {
      background: #ff944d;
      color: #fff;
    }
  }

  .arbitrium-pagination.mdl-button--mini-fab {
    font-size: 11px;
    margin: 0 3px;
  }
}





