button, select, html, textarea, input, legend {
  font-family: $font-family;
}

#demo-menu-account {
  color: #fff;
}

.mdl-menu__container {
  top: 60px !important;
}

.mdl-menu__container:before {
  background: transparent;
  color: #FFF;
  content: "\F10D";
  display: block;
  font-family: "Ionicons";
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  margin-top: -16px;
  position: absolute;
  right: 5px;
  text-align: right;
  text-shadow: 1px -1px 5px rgba(0, 0, 0, 0.1);
}

  /* -- header --*/
  .mdl-layout__drawer header{
    height: 35px;
    padding: 7px 40px;
  }

.mdl-menu__container ul li a {
  font-size: 15px;
  float: none;
  padding: 10px 15px;
  display: block;
}

.mdl-menu__container ul {
  width: 200px;
}

#check_availability {
  background-color: #ff4081;
  color: #fff;
  display: inline-block;
  float: none;
  height: auto;
  line-height: normal;
  margin-top: 15px;
  padding: 7px 15px;
  vertical-align: middle;
}

/* -- header --*/
.mdl-layout__drawer header{
  height: 35px;
  padding: 7px 40px;
}

.mdl-layout__header {
  min-height: 20px;
}
.client {
  .clientContent {
    .alert {
      margin: 15px;
      width: auto;
      display: none;
    }
  }
  .mdl-layout__content {
    z-index: initial;
  }
  .modal-cancel, .modal-yes {
    border: none;
    background: none;
    color: #143757;
    font-size: 14px;
    border-radius: 3px;
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 36px;
    min-height: 36px;
    background: transparent;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    /* font-family: inherit; */
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
  }
  .modal-yes {
    color: white;
    background-color: #f44336;
  }
  .modal-cancel:hover {
    background-color: rgba(158, 158, 158, 0.2);
  }
  .mdl-button--fab.mdl-button--mini-fab {
    margin-left: 6px;
  }
  .page-content {
    width: 100%;
  }
  .subscription-detail .table-list tbody tr td{
    padding: 0px;
  }
  .filter-search-bar, .pagination {
    width: 100%;
  }
  .search-cta {
    display: flex;

    button {

      .material-icons {
        position: relative;
        top: -1px;
      }
    }
  }
}

main {
  .mdl-layout__drawer{
    header {
      & + .mdl-navigation {
        a.mdl-navigation__link{
          font-weight: 500;
          font-size: 14px;

          i {
            font-size: 20px;
            line-height: 40px;
          }
        }
      }
    }
  }

  .mdl-layout__header-row {
    height: 49px;

    .mdl-menu__container {
      .mdl-menu__item {
        .mdl-navigation__link{

          i {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

#profile #check_availability {
  background-color: rgb(255,110,64);
  color: #fff;
  font-size: 14px;
  font: 11px BlinkMacSystemFont;
  padding: 4px 15px;
  min-height: 18px;
  position: relative;
  top: 10px;

  .material-icons {
      font-size: 13px;
      vertical-align: bottom;
      padding-left: 8px;
  }
}

#profile .disabled {
  background-color: #e1e1e1!important;
  color: #b0b0b0!important;
  cursor: default;
}