input, select {
  outline: none;
}

@mixin error-container {
  background: rgba(255, 79, 34, 0.57);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  color: #FFE0E0;
}

.alert {
  border-radius: 4px;
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  margin-bottom: 12px;
  padding: 16px;

  &.alert-danger {
    @include error-container;
  }
}

.mdl-textfield--floating-label {
  &.is-focused, &.is-dirty {
    .mdl-textfield__label {
      font-size: 11px;
    }
  }
}

small.mdl-textfield__error {
  font-size: 10.5px;
  line-height: 10px;
}

.mdl-button-group .mdl-button {
  margin: 0 10px;
  min-width: 100px;
}

div#application .client{
  .mdl-data-table {
    white-space: normal;
  }

  .table-api th{
    width: 25%;
  }
  .table-api td{
    word-wrap: break-word;
    word-break: break-all;
  }

  .mdl-button-group {
    margin: 0 5px;

    .mdl-button {
      margin: 0 5px;
      min-width: 100px;
    }
  }

  div.auth-view {

    form {
      background: #fff;
      border-radius: 0 0 3px 3px;
      display: block;
      margin: auto;
      padding: 16px;
      width: 280px;

      h2, p {
        color: #555;
      }
    }

    .mdl-button {
      margin-top: 15px;
    }

    .callout {
      margin-bottom: 16px;

      h2 {
        margin: 0 0 6px;
      }
    }

    .signup-links {
      margin: 11px auto;
      width: 312px;

      a {
        color: #fff;
      }
    }

    .error-snack {
      @include error-container;
    }

    #facebook_button {

      .ion-social-facebook:before {
        font-size: 18px;
        line-height: 14px;
        margin-right: 12px;
        display: inline-block;
        vertical-align: text-bottom;
      }
    }
  }
}

.login-view {
  .login-header {
    border-radius: 3px 3px 0 0;
    background: $base-blue;
    min-height: 50px;
    text-align: center;
    padding: 6px 0;

    img {
      height: 50px;
    }
  }
}
