.filter-search-bar {
  .search-cta {
    .mdl-button {
      margin: 0 10px;
    }

    .mdl-button.mdl-button--default {
      .material-icons {
        color: #333 !important;
      }
    }
  }

  .material-icons {
    color: inherit;
  }
}

.client .table-list {
  tbody {
    .material-icons {
      color: #fff;
    }
  }
}

.table-invoice {
  legend {
    color: inherit;
  }

  h4 {
    font-size: 20px;
    font-weight: inherit;
  }

  h6 {
      font-weight: 700;
  }
  .left-info {
    margin-top: 50px;
    line-height: 1.8;
  }
  .right-info {
    line-height: 1.8;

    span {
      padding-right: 20px;
      width: 90px;
      display: inline-block;
    }
  }
  .invoice-value{
    color: #000;
    font-weight: 400;
  }
  .note{
    color: red;
  }

  .cta-bottom {
    .mdl-button--default {
      margin-left: 15px;
    }
  }
}

.search-cta {
  .mdl-button--default {
    .material-icons {
      color: #222;
    }
  }
}