.headerContainer {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   max-width: 312px;

 .bar {
   background: #0e3192;
   box-sizing: border-box;
   border-radius: 5px 5px 0 0;
   color: white;
   height: auto;
   padding: 10px 20px 26px 44px;
   width: 100%;

   .bar-title {
    //  color: #eceff1 ;
    //  font-size: 20px;
    //  font-weight: 700;
     height: 30px;

      img{

       &.logo{
         height: 50px;

        }
      }
    }
  }
}
