// Alerts
.alert {
  box-sizing: border-box;
  color: $text-color;
  display: table;
  font-size: 21px;
  height: 50px;
  padding: 0 !important;
  width: 100%;
  @include alert-variant( $base-blue, $border, $text-color );

  .material-icons,
  .content {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
  }

  .material-icons {
    min-width: 40px;
    text-align: center;
  }

  .content {
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
    width: 100%;
  }
}

// These are the available alerts:
.alert-warning {
  background: $base-red;

  .material-icons:before {
    content: "warning";
  }
}

.alert-success {
  background: $base-green;

  .material-icons:before {
    content: "done";
  }
}

.alert-info {
  background: $base-lightblue;

  .material-icons:before {
    content: "info_outline";
  }
}
