@import './reset';
@import './variables';

@import './vendor/ionicons';
@import './vendor/mdl-overrides';
@import './drawer';
@import './pagination';

@import './utils';
@import './typography';
@import './mixins';
@import './transitions';
@import './colors';

/* Admin */
// @import './admin/form';
// @import './admin/forgot';
@import './admin/application';
@import './admin/_input-dropdown';
@import './admin/adminClient';
@import './admin/adminApi';
@import './admin/common';
@import './admin/login';

@import './form';

/* Client */
@import './client/application';
@import './client/client-profile';
@import './client/signup';
// @import './client/form';
@import './client/common';

/* error */
@import './error-page';
