$blue: (
	"lighten-1":#113aab,
	"base": #0e3192,
	"darken-1": #0c2978
);

$teal: (
	"lighten-1": #59c9d4,
	"base": #4eb1ba,
	"darken-1": #4399a1
);

$orange: (
	"lighten-1": #ff751a,
	"base": #ff6600,
	"darken-1": #e55c00
);
