/*
*	Drawer / Sidebar menu
*/

.arbitrium-drawer {
	.md-layout-title {
		margin-left: 25px;
	}
}

.arbitrium-navigation {
	.mdl-navigation__link {
		padding-left: 25px;

		.material-icons {
			margin-right: 25px;
		}
	}
}