.noContent {
	width: 100%;
}
.section-error {
	height: 100%;

	.error-content {
		width: 100%;
		background: #fff;
		color: #454545;
		min-height: 550px;
		margin: 0 auto;
		text-align: center;
		padding: 50px;
		position: relative;

		.md-display-1 {
			font-size: 10em;
			line-height: 1;
		}

		.sub-title {
			padding-top: 10%;
			line-height: normal;
			font-size: 3em;
			text-transform: uppercase;
		}
	}
}
