/*
* 1 - Buttons
* 2 - Border Radius
* 3 - add your mixins here <name
*/

// 1 - Buttons
@mixin purple-button {
  background: #bb81e2; /* Old browsers */
  background: -moz-linear-gradient(top,  #bb81e2 0%, #a370c1 47%, #84639e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #bb81e2 0%,#a370c1 47%,#84639e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #bb81e2 0%,#a370c1 47%,#84639e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb81e2', endColorstr='#84639e',GradientType=0 ); /* IE6-9 */
}

@mixin cyan-button {
  background: #4cdbe8; /* Old browsers */
  background: -moz-linear-gradient(top,  #4cdbe8 0%, #35a1b7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4cdbe8 0%,#35a1b7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4cdbe8 0%,#35a1b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cdbe8', endColorstr='#35a1b7',GradientType=0 ); /* IE6-9 */
}

@mixin light-button {
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5f5f5 0%, #eaeaea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f5f5f5 0%,#eaeaea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f5f5f5 0%,#eaeaea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}

@mixin facebook-fill {
  background: #2c539e; /* Old browsers */
  background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
}

// 2 - Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}




