.pagination {
  align-items: center;
  background: #fff;
  height: 90px;
  // margin-bottom: 30px;
  padding: 0;
  text-align: center;
  position: relative;

  .mdl-button {
    font-size: 12px;
  }

  .btn-paginate-active {
    background: #ff6600;
    color: #fff;
    font-weight: 400;
    margin: 4px;
  }

  .btn-paginate-active:hover {
    background: #fff;
    color: #000;
    font-weight: 400;
    margin: 4px;
  }

  .btn-paginate-normal {
    background: #fff;
    font-weight: 400;
    margin: 4px;
    color: #ff6600;
  }

  .btn-paginate-normal:hover {
    background: #fff;
    color: #000;
    font-weight: 400;
    margin: 4px;
  }

  .btn-paginate-disabled {
    background: #0d2c81;
    color: #b0b0b0 !important;
    cursor: not-allowed;
    font-weight: 400;
    margin: 4px;
  }

  .btn-paginate-blue {
    background: #fff;
    color: #ff6600;
    font-weight: 400;
    margin: 4px;
  }

  .btn-paginate-blue:hover {
    background: #fff;
    color: #000;
    font-weight: 400;
    margin: 4px;
  }

  .btn-paginate-items-per-page {
    background: #ff6600;
    font-weight: 400;
    float: right;
    margin-right: 10px;
  }

  .btn-paginate-items-per-page:hover {
    background: #fff;
    color: #000;
    font-weight: 400;
    float: right;
    margin-right: 10px;
  }
}
