.login-frame .link {
  color: #336;
}

.full-width {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

div#application {
  #signup .footer-action .mdl-button {
    margin-top: 0;
  }

  @media (min-width: 1200px) {
    #signup {
      .signup-view {
        -webkit-flex: 0 0 70%;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
        max-height: 100%;
        box-sizing: border-box;
        margin: auto;
      }

      form {
        width: auto!important;
      }

      .sign-top {
        background-color: $base-blue;
        border-radius: 5px 5px 0 0;
        color: #fff;
        text-align: left;
        padding: 20px;

        .mdl-typography--headline, p {
          margin-bottom: 0;
        }
      }

      .view {
        color: #eceff1;
        font-weight: 700;
        height: 26px;
        padding-top: 2px;
      }

      .text-small {
        color: #b0bec5;
        font-size: 12px;
      }

      .mdl-layout__content{
        width: 100%;
      }
    }

    .login-view {
      width: 312px;
      margin: auto;
    }
  }
}

.footer-action {
  text-align: right;

  .mdl-button--accent {
    margin-left: 20px;
  }
}

.bg-green {
  background-color: #00CC99!important;
  color: #fff;
  text-align: center;
  font-size: 15px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.to-login {
  margin-top: 20px;
}
