div#application .coffee {
  a.md-button.md-formal-blue-theme.md-hue-1.md-raised[disabled], a.md-button.md-formal-blue-theme.md-hue-1.md-fab[disabled], .md-button.md-formal-blue-theme.md-hue-1.md-raised[disabled], .md-button.md-formal-blue-theme.md-hue-1.md-fab[disabled] {
      background-color: rgba(0,0,0,0.12);
  }

  a.md-button.md-formal-blue-theme.md-hue-1.md-primary.md-raised, a.md-button.md-formal-blue-theme.md-hue-1.md-primary.md-fab, .md-button.md-formal-blue-theme.md-hue-1.md-primary.md-raised, .md-button.md-formal-blue-theme.md-hue-1.md-primary.md-fab {
      color: rgba(255,255,255,0.87);
      background-color: rgb(107,99,158);
  }

  button, select, html, textarea, input {
      font-family: "Roboto Condensed",Roboto,'Helvetica Neue',sans-serif;
  }

  .margin-bottom-10 {
      margin-bottom: 10px!important;
  }

  .margin-top-10 {
      margin-top: 10px!important;
  }

  .margin-right-0 {
      margin-right: 0!important;
  }

  .margin-left-0 {
      margin-left: 0!important;
  }

  .login-frame .link {
      color: #336;
  }

  .md-button {
      letter-spacing: .01em;
  }

  .full-width {
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
  }

  @media (min-width: 1200px) {
    #signup {
      .signup-view {
        -webkit-flex: 0 0 70%;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
        max-height: 100%;
        box-sizing: border-box;
        margin: auto;
      }

      form {
        width: auto!important;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .sign-top {
        background-color: #336;
        border-radius: 5px 5px 0 0;
        padding: 20px;
        height: 50px;


      }
      .title {
        padding: 0 16px;
        font-size: 20px;
      }

      .view {
        color: #eceff1;
        font-weight: 700;
        height: 26px;
        padding-top: 2px;
      }

      .text-small {
        color: #b0bec5;
        font-size: 12px;
      }

      .mdl-layout__content{
        width: 100%;
      }
      .mdl-cell {
        margin: 8px;
      }
      .mdl-cell--full-col {
        width: 100%;
      }
    }

    main {
      /*width: 100%;*/
    }
    .login-view {
      width: 312px;
      margin: auto;
    }
  }

}
