// $font-path: "http://assets.idearobin.com/fonts" !default;
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
$font-family: 'Roboto Condensed', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  margin-bottom: 1rem;
  margin-top: 0;
}
h1 {
  font-size: 3.400rem;
  font-weight: $base-font-weight;
  line-height: 4rem;
}
h2 {
  font-size: 2.400rem;
  font-weight: $base-font-weight;
  line-height: 3.2rem;
}
h3 {
  font-size: 2.000rem;
  font-weight: 400;
  letter-spacing: 0.005em;
}
h4 {
  font-size: 1.600rem;
  font-weight: $base-font-weight;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
}
p {
  font-weight: $base-font-weight;
  letter-spacing: 0.010em;
  margin: 0 0 1em;
}

label {
  text-transform: uppercase;
  font-weight: $md-font-weight;
}