h6 {
  text-transform: uppercase;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

.to-right {
  float: right;
}

.to-left {
  float: left;
}

.mdl-block {
  width: 100%;
}

// Full background image
.full-image-background {
  background-size: cover;
  background-position: center;
}

.full-width {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

// Clearfix
.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

// Margins
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-right-0 {
  margin-right: 0!important;
}

.margin-left-0 {
  margin-left: 0!important;
}

// Paddings
.pd-10 {
  padding: 0 10px;
}
.padding-15 {
  padding: 15px;
}
.tooltipBox {
  position: absolute;
  right: 0;
  margin-top: 25px;
}
.tooltiptext {
  /*visibility: hidden;*/
  width: 170px;
  background-color: #ff6600;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: -55px;
  left: 77px;
  font-size: 14px;
  font-family: "Roboto Condensed",Roboto,'Helvetica Neue',sans-serif;
  font-weight: 100;
  opacity: 0;
  transform: scale(0);
  transition-delay: -127ms;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  -moz-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.tooltipBox:hover .tooltiptext {
  /*visibility: visible;*/
  opacity: 1;
  transform: scale(1);
  transition-delay: 130ms;
}
.lighten-2 {
  background-color: #ff8a65 !important;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.lighten-4 {
  background-color: #ffccbc !important;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.dialog-box, .loading-box {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.2;
  filter: alpha(opacity=20);
  display: none;
  z-index: 100;
}
.dialog-content, .loading-content{
  position: fixed;
  display: none;
  z-index: 200;
  top: 0;
  left: 0;
}
.loading-box, .loading-content {
  display: block;
}
.dialog-inner{
  position: relative;
  top: 35%;
}
.msg-box{
  background-color: #fff;
  color: #000;
  width: 370px;
  padding: 20px 20px 0px 20px;
  margin: auto;
  border-radius: 3px;
  text-align: center;
}

.mdl-switch.is-checked .mdl-switch__track {
  background: rgba(0,0,0,.26);
}
.mdl-switch.is-checked .mdl-switch__thumb {
  background: #fafafa;
}
.mdl-switch__track {
  background: rgba(63,81,181,.5);
}
.mdl-switch__thumb {
  background: #3f51b5;
}
.mdl-menu__container ul {
  min-width: 200px;
}
div#application {
  .mdl-menu__item{
    line-height: 35px;
    height: auto;
  }
}
.mdl-spinner {
  z-index: 200;
  display: block;
  margin: 0 auto;
  top: 45%;
}
.mdl-switch.is-upgraded {
  width: 110px;
  margin-right: 10px;
}
.layout-align-end-end {
  text-align: right;
  padding: 10px;

  .flex-order-gt-md-2 {
    display: inline-block;
  }
}
.mdl-textfield.is-invalid {
  .mdl-textfield__error {
    font-size: 12px;
  }
}
.mdl-data-table thead tr {
  background: #e3ecf5;
}
.mdl-data-table thead tr th {
  font-weight: 700;
}
.mdl-data-table tbody tr td {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.mdl-data-table tbody tr.bg-dark {
  background: #f5fafe;
}
.mdl-data-table tbody tr.bg-dark td {
  border: 0px;
}
.mdl-data-table tbody tr.bg-light {
  background: #fbfeff;
}
.mdl-data-table tbody tr.bg-light td {
 border: 0px;
}
.mdl-data-table tbody tr td .btn-view-edit {
  background: #ff6600;
  margin-right: 6px;
}
.mdl-data-table tbody tr td .btn-delete {
  background: #ff4a4a;
}
.hidden-text {
  width: 200px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-size: inherit;
  font-weight: inherit;
  vertical-align: middle;
  margin: 0;
}


/* calendar */
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
.mdl-tooltip {
  max-width: 380px;
}
.box-border {
  border: 1px solid #e2e2e2;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}
.datepicker table tr td,
.datepicker table tr th {
  vertical-align: middle;
}