// Branding colors:
$base-orange:               #ff6600;
$base-blue:                 #0e3192;

// Other Colors & for states:
$base-red:                  #cc0000;
$base-green:                #449d44;
$base-lightblue:            #89cbf4;

$base-font-weight:          100;
$bold-font-weight:          700;
$md-font-weight:            400;
$lg-font-weight:            800;

$box-radius:                5px;
$opacity:                   0.09;

// Alerts
$background:                #efefef;
$border:                    3px;
$text-color:                #fff;
