$font-path: "http://assets.idearobin.com/fonts" !default;
$font-family: "Montserrat";

@font-face {
 font-family: $font-family;
 src:url("#{$font-path}/montserrat-regular-webfont.eot");
 src:url("#{$font-path}/montserrat-regular-webfont.eot#iefix") format("embedded-opentype"),
  url("#{$font-path}/montserrat-regular-webfont.ttf") format("truetype"),
  url("#{$font-path}/montserrat-regular-webfont.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: $font-family;
 src:url("#{$font-path}/montserrat-semibold-webfont.eot");
 src:url("#{$font-path}/montserrat-semibold-webfont.eot#iefix") format("embedded-opentype"),
  url("#{$font-path}/montserrat-semibold-webfont.ttf") format("truetype"),
  url("#{$font-path}/montserrat-semibold-webfont.woff") format("woff");
 font-weight: 500;
}

@font-face {
 font-family: $font-family;
 src:url("#{$font-path}/montserrat-bold-webfont.eot");
 src:url("#{$font-path}/montserrat-bold-webfont.eot#iefix") format("embedded-opentype"),
  url("#{$font-path}/montserrat-bold-webfont.ttf") format("truetype"),
  url("#{$font-path}/montserrat-bold-webfont.woff") format("woff");
 font-weight: 700;
}

@font-face {
 font-family: $font-family;
 src:url("#{$font-path}/montserrat-extrabold-webfont.eot");
 src:url("#{$font-path}/montserrat-extrabold-webfont.eot#iefix") format("embedded-opentype"),
  url("#{$font-path}/montserrat-extrabold-webfont.ttf") format("truetype"),
  url("#{$font-path}/montserrat-extrabold-webfont.woff") format("woff");
 font-weight: 800;
}

@font-face {
 font-family: $font-family;
 src:url("#{$font-path}/montserrat-light-webfont.eot");
 src:url("#{$font-path}/montserrat-light-webfont.eot#iefix") format("embedded-opentype"),
  url("#{$font-path}/montserrat-light-webfont.ttf") format("truetype"),
  url("#{$font-path}/montserrat-light-webfont.woff") format("woff");
 font-weight: 200;
}