@import '../../src/assets/sass/base';

html{
  font-size: 87.5%;

  body{
    font-size: 14px; font-size: 1rem; line-height: 1;
    font-family: 'Roboto Condensed', sans-serif;

  }

}

// ******************** START HEADER ********************

.right{
  float: right !important;
}

.left{
  float: left !important;
}

.body-bg{
  background: #e9eaed;

  .header-bg{
    background: #0e3192;
    min-height: 48px;

    .header-container{
      height: 48px;
      max-width: 1200px;
      padding: 0px;

      .main-header{
        background: none;
        height: 48px;
        padding: 0px;

        .logo{

          img{
            height: 40px;
          }

        }

// ******************** START NAVIGATION ********************

        .nav{
          background: none;
          float: right;
          width: 1030px;

          .tab{
            background: none;
            border-bottom: none;
            float: right;

            a{
              color: #fff;
              font-size: 1rem;
              font-weight: 400;
              padding: 0px 18px;
            }

            a:hover{
              background: rgba(255,255,255,0.05);
            }

            .is-active{
              color: #fff;
            }

            .is-active:after{
              background: #ff6600;
            }

            .icon-profile{
              position: relative;
              top: 50%;
              transform: translateY(-50%);
            }

          }

        }

// ******************** END NAVIGATION ********************

      }
    }
  }

// ******************** END HEADER ********************

// ******************** START SECTION-CLIENT-LIST ********************

  .table-list-container{
    padding: 50px 0px 0px 0px;
    width: 1200px;

    .table-tab{
      background: #0e3192;
      height: 48px;
      padding: 0px;
      width: 1200px;

      a{
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        padding: 0px 18px;

        i{

          &.add{
            padding-left: 6px;
            position: relative;
            top: 40%;
            transform: translateY(-50%);
          }
        }
      }

      a:hover{
        background: rgba(255,255,255,0.05);
      }

      .is-active:after{
        background: #ff6600 !important;
      }

    }

    .filter-search{
      background: #fff;
      height: auto;
      min-height: 130px;
      width: 1200px;

      p{
        font-size: 1rem;
        font-weight: 400;
        padding: 20px 0px 0px 20px;
        margin: 0px;
      }

      form{
        margin-bottom: 0px;
      }

      .filter-search-bar{
        list-style: none;
        padding: 0px 12px 0px 12px;

        .search-cta{
          text-align: right;

          .mdl-button--accent{
            background: #ff6600;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            margin-right: 16px;

          }

          .mdl-button--raised{
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1rem;
            font-weight: 400;
          }

        }

      }

    }

    .table-list{
      width:100%;
      border: 0px;

      thead{

        tr{
          background: #e3ecf5;

          th{
            font-size: 1.142857143rem;
            font-weight: 700;
          }

        }

      }

      tbody{
        border: 0px;

        tr{
          background: #fbfeff;

            &:hover{
              background-color: #f0f5fa;
            }

          &:nth-child(odd) {
           background-color: #f5fafe;

            &:hover{
              background-color: #f0f5fa;
            }

          }

          td{
            border: 0px;

            &.narrow-col{
              width: 100px;
            }

            span{
              font-size: 1rem;
            }

            .switch{
              width: 70%;
            }

            .btn-view-edit{
              background: #ff6600;
              margin-right: 6px;

            }

            .btn-delete{
              background: #ff4a4a;
            }

            &.api-col-action{
              width: 220px;
            }

          }

        }

      }

    }

    .pagination{
      align-items: center;
      background: #0e3192;
      height: 90px;
      padding: 0px;
      text-align: center;

      .btn-paginate-active{
        background: #fff;
        color: #ff6600;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        margin: 4px;
      }

      .btn-paginate-normal{
        background: #ff6600;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        margin: 4px;
      }

      .btn-paginate-disabled{
        background: #0d2c81;
        cursor: not-allowed;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        margin: 4px;
      }

      .btn-paginate-blue{
        background: #0e3192;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        margin: 4px;
      }

      .btn-paginate-items-per-page{
        background: #ff6600;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        float: right;
        margin-right: 10px;
      }

    }

  }

}

.form-container {

  background: #fff;
  margin-bottom: 0px;
  width: 1200px;

  .mdl-grid {
    padding: 20px;

    .mdl-cell--12-col{

      .full-width{
        width: 100%;
      }

      .padding-bot{
        padding-bottom: 60px;
      }

      p {
        color: #969896;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 0.928571429rem;
        font-weight: 300;
      }

      .check-test-key {
        padding-top: 40px;
      }



      .mdl-button--accent {
        background: #ff6600;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        margin-right: 16px;
      }

    }

  }

  .cta {
    padding-top: 20px;
    padding-left: 868px;
  }

}

.header-title-container{
  @extend .table-tab;

  .header-title{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 0px;
    padding: 0px 18px;
  }
}

.content-container{
  background-color: #fff;
  width: 1200px;
  padding: 0px;

    .bottom-margin{
      margin-bottom: 40px;
    }

    p{
        color: #969896;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.142857143rem;
        font-weight: 300;
      }

  .content{
    padding: 20px;

    .subscription-type{
      @extend .table-list;

      th{
        text-align: center;
      }

      td{
        text-align: center;

        i{

          &.check{
            color: #6abf3c;
          }
        }
      }
    }
  }
}

.arb-demo{

  &.mdl-list{

    padding: 46px 0px 0px 0px;

    .mdl-list__item{
      letter-spacing: 0px;

      .mdl-list__item-primary-content{
        display: block;
        text-align: right;
      }
    }
  }
}

.box-container{
  border: 1px solid #e2e2e2;
  min-height: 372px;

  .mdl-cell--10-col, .mdl-cell--9-col, .mdl-cell--6-col, .mdl-cell--3-col, .mdl-cell--2-col{
    @extend .mdl-cell--12-col;
  }

  .total{
    border-top: 1px solid #e2e2e2;
    padding:10px 0px 0px 0px;
    width: 100%;
  }
}

// ******************** END SECTION-CLIENT-LIST ********************

// ******************** START FOOTER ********************


// ******************** END FOOTER ********************
